html
    head
        title gyaon-cast
        link(rel="stylesheet", href="style.css")
    body
        div#container
        script.
          var pageList = !{pageList};
        script(src="app.js", type="text/javascript")
